# Environment variables for Sequoia
# Environment variables for Sequoia
# MODEL_NAME=ollama:qwen3:8b
# GLM
MODEL_NAME=openai:glm-4.7-flash
OPENAI_BASE_URL=https://api.z.ai/api/paas/v4
OPENAI_API_KEY=
# DEEPSEEK
# MODEL_NAME=openai:deepseek-chat
# OPENAI_BASE_URL=https://api.deepseek.com
# OPENAI_API_KEY=
LANGSMITH_API_KEY=
HF_ENDPOINT=https://hf-mirror.com
