# Environment variables for Sequoia
MODEL_NAME=openai:glm-4.7-flash
OPENAI_BASE_URL=https://api.z.ai/api/paas/v4
OPENAI_API_KEY=
# MODEL_NAME=ollama:qwen3:8b
LANGSMITH_API_KEY=
HF_ENDPOINT=https://hf-mirror.com
